  <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    
    <div class="topnav">
      <a class="active" href="index.html">About Me</a>
      <a href="skill.html">Skill</a>
      <a href="contact.html">Contact Me</a>
      <a href="portfolio.html">Portfolio</a>
    </div>

    <h1 style="background-color: blue; width: 140px; margin: auto;">About Me</h1>
    <center> 
      <img src="17966.jpg"  alt="Kongsak Pranpurksa" /> 
    </center> 
    <br />

    <div class="a">
      <p ALIGN = "MIDDLE" > 
        Kongsak Pranpurksa (born 11 May 1990) is an Thailand actor. He is best known for his role as Harry Potter in the film series of the same name, and has received numerous awards and nominations.
        Radcliffe made his acting debut at age 10 in the BBC One television film David Copperfield (1999), followed by his feature film debut in The Tailor of Panama (2001). 
        The same year, he starred in Harry Potter and the Philosopher's Stone. Over the next decade, he played the eponymous role in seven sequels, culminating with Harry Potter and the Deathly Hallows – Part 2 (2011). 
        During this period, he became one of the world's highest-paid actors and gained worldwide fame, popularity, and critical acclaim.
        <br />
      </p>
    </div>
  </body>
</html>
