    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="portfolio.css" />

    <div class="topnav">
      <a class="active" href="index.html">About Me</a>
      <a href="skill.html">Skill</a>
      <a href="contact.html">Contact Me</a>
      <a href="portfolio.html">Portfolio</a>
    </div>

    <div class="nav">
      <img style="width: 100px; height: 100px" src="logo.png" alt="" />
      <a class="active" href="#myapp"><strong>My Application</strong></a>

      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search Product" name="search" />
          <button type="submit">Search</button>
          <a href="#">New Product</a>
        </form>
      </div>
    </div>

    <div class="main-product">
      <div id="firstdiv" class="division">
        <table>
          <tr>
            <td><img src="17966.jpg" alt="" /></td>
            <td>
              <ul>
                <li>Product Name</li>
                <li>Price</li>
                <li>Description</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

      <div id="seconddiv" class="division">
        <table>
          <tr>
            <td><img src="17966.jpg" alt="" /></td>
            <td>
              <ul>
                <li>Product Name</li>
                <li>Price</li>
                <li>Description</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>

      <div id="thirddiv" class="division">
        <table>
          <tr>
            <td><img src="17966.jpg" alt="" /></td>
            <td>
              <ul>
                <li>Product Name</li>
                <li>Price</li>
                <li>Description</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div id="fourthdiv" class="division">
        <table>
          <tr>
            <td><img src="17966.jpg" alt="" /></td>
            <td>
              <ul>
                <li>Product Name</li>
                <li>Price</li>
                <li>Description</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
