     <link rel="stylesheet" href="style.css" />
    <div class="topnav">
      <a class="active" href="index.html">About Me</a>
      <a href="skill.html">Skill</a>
      <a href="contact.html">Contact Me</a>
      <a href="portfolio.html">Portfolio</a>
    </div>
    <h1 style="text-align: width: 100px; margin: 30px;">Skill</h1>
    <div class="list">
      <ul>
        <li>It Support</li>
        <li>Technician</li>
        <li>CCTV</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>MySQL</li>
        <li>Node.JS</li>
        <li>Koa</li>
        <li>Cloud Deployment</li>
        <li>Algorithm: Data Structure</li>
      </ul>
    </div>
